/*  your css code here. If applicable */
*{
	margin : 0;
}
.bg{
	background-color : #f8f8f8;
}
.book-library {
	display : block;
	background-color : #ffffff;
	width : 600px;
}
.img {
	text-align : center;
	padding :0;
}
.book {
	margin : 45px;
}
h6 {
	background-color : rgb(46, 204, 113);
	text-align: center;
	border-radius : 5px;
	color : white;
}
.para {
	background-color : rgb(119, 119, 119);
	color : rgb((128,128,128))
}
h1 {
		padding : 5px;
		text-align : center;
		margin-bottom : 10px;
}